.box{
    width: var(--width-widgets);
    border-radius: var(--border-radius-inputs);
    padding: 5px;
    border-radius: 5px;
    border: 0.5px solid #000;
    background: #FFF;
    color: #000;
}

.box:focus{
    outline-color: var(--color-label-discreto);
}

.formField{
    margin-bottom: var(--gap-itens-box);
}
