.titulo1{
    font-size: var(--font-size-title1);
    font-weight: var(--font-weight-title1);
}

.titulo2{
    font-size: var(--font-size-title2);
    font-weight: var(--font-weight-title2);
}

.titulo3{
    font-size: var(--font-size-title3);
    font-weight: var(--font-weight-title3);
}

.label{
    font-size: var(--font-size-label);
    padding-left: 10px;
}

.texto{
    font-size: var(--font-size-p);
}

.labelDiscreto{
    font-size: var(--font-size-label-disc);
    color: var(--color-label-discreto);
}