.malhaDiv{
    position: fixed;
    top: 90px;
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: solid 1.5px black;
    background-color: #f3f3f3;
    z-index: 3;
}

.divisor{
    border-bottom: solid 0.4px black;
    margin: 10px 0;
}