.itemModelo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-itens-box);
}

.itemModeloInterno{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.itemModeloInternoVertical{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-itens-box);
}